h5{
    color:red;
    font-size: 40px;
}
h6{
    color:rgb(78, 238, 78);
}
h2{
    text-align: center;
    padding:20px;
}
body{
    text-align: center;
}
h4{
    color:aqua;
    text-decoration: underline;
}